.env
files/cache
files/upwork_job_listings
src/__pycache__
upwork_poller.log
files/job_tracking/processed_jobs.json
files/job_tracking/seen_jobs.json
Turnstile-Solver
files/job_tracking/seen_jobs.json
files/job_tracking/processed_jobs.json
